.u-heading-xl {
  font-size: var(--fs-heading-xl);
  font-weight: var(--fw-heading-all);
  line-height: var(--lh-heading-xl);
  color: var(--clr-primary);
}

.u-heading-m {
  font-size: var(--fs-heading-m);
  font-weight: var(--fw-heading-all);
  line-height: var(--lh-heading-m);
  color: var(--clr-primary);
}

.u-heading-s {
  font-size: var(--fs-heading-s);
  font-weight: var(--fw-heading-all);
  line-height: var(--lh-heading-s);
  color: var(--clr-primary);
}

.u-body-m {
  font-size: var(--fs-body-m);
  font-weight: var(--fw-body-m);
  line-height: var(--lh-body-m);
  color: var(--clr-body);
}
